#sidenav{
background-color: #2C3E50;
}
#head{
  margin: 1em 0;
}
#check-box{
  margin-bottom: 1em;
  border-color: #E74C3C;
}
#para{
  margin: 13px 10px;
}
.navbar-brand>img {
  display: block;
  margin-top: -0.5em;
}
.main-circle{
  color: #44CCF6;
}
.md-toolbar-tools{
  background-color: #2C3E50;
}
.fa-check-circle:before {
  margin-left: 6em;
}
.boxWithHeight {
  box-sizing: border-box;
  height: 50%;
  width: 50%;
}
.box{
  border-style: solid;
    border-width: 5px;
}
.main-circle {
  font-size: 3em;
}
.select{
  border: 1px solid #eee;
  height: 9vh;
  margin-left: 1em;
  left: 0;
  top: 0;
}
